/* filtro */

.filtro {
    display: inline-block;
    background-color: #191E1F;
    padding-top: 10px;
}

.filtro p {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
}

.barra {
    display: inline-block;
    background-color: #191E1F;
    padding-top: 10px;
}

.barra p{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
}


