.area-login {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    width: 400px;
    height: 450px;
    padding: 35px;
    border-radius: 0px 0px 8px 8px;
    justify-content: center;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    background-color: #dadada;
    border: none;
    color: #3b3b3b;
    outline: none;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 10px;
}

.login img {
    width: 64px;
    height: auto;
}

input::placeholder {
    color: #808080;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #252525;
    font-size: 20px;
    text-transform: uppercase;
    color: #fafafa;
    cursor: pointer;
}

p {
    color: #3b3b3b;
    margin-top: 20px;
}

.hover {
    color: #161616;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
}

.hover:hover {
    text-decoration: none;
    color: #000000;
}

.h2-logcad {
    margin-top: 30px;
    font-size: 20pt;
    margin-left: 15px;
    font-weight: bold;
}

.logcad-linha {
    border-bottom: 2px solid #000000;
}

.h3-logcad {
    margin-top: 15px;
    font-size: 14pt;
    margin-left: 15px;
    font-weight: bold;
}

.cad {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f1f1f1;
    width: auto;
    height: auto;
    padding: 35px;
    border-radius: 0px 0px 8px 8px;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.cad form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cad input {
    margin-top: 10px;
    background-color: #dadada;
    border: none;
    color: #3b3b3b;
    outline: none;
    height: 45px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 10px;
}

form [type="submit"]{
    display: block;
    background-color: #252525;
    font-size: 20px;
    text-transform: uppercase;
    color: #fafafa;
    cursor: pointer;
}

